<!doctype html>
<html lang="en">

<head>
	<title>Bootleg Repository of Manual Pages</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta property="og:title" content="Bootleg Repository of Manual Pages">
	<meta property="og:description" content="Repository of Manual Pages for KTANE, but worse in every way.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://ktane.stinggy.com">
	<meta property="og:site_name" content="Sting's Personal Stuff">

	<link rel="stylesheet" href="/css/{{ loadcss }}">

	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

	<script>
		let lastName = undefined;
		function setActiveUser(name) {
			if(lastName) {
				document.getElementById(lastName).classList.add("hidden");
			}
			document.getElementById(name).classList.remove("hidden");
			lastName = name;
			Cookies.set('name', name);
		}

		let lastView = undefined;

		function setView(view) {
			document.getElementById(view).classList.add("bg-green-400");
			document.getElementById(view).classList.add("text-black");

			if(lastView && lastView !== view) {
				document.getElementById(lastView).classList.remove("bg-green-400");
				document.getElementById(lastView).classList.remove("text-black");
			}
			let elements = document.getElementsByClassName("profile-list");

			for(let i = 0; i < elements.length; i++) {
				if(view === 'orderly') {
					elements[i].classList.remove('compact');
					elements[i].classList.add('orderly');
				}
				if(view === 'compact') {
					elements[i].classList.remove('orderly');
					elements[i].classList.add('compact');
				}
			}

			lastView = view;
			Cookies.set('view', view);
		}

		let lastMode = undefined;
		function setManualPages(mode) {
			document.getElementById(mode).classList.add("bg-green-400");
			document.getElementById(mode).classList.add("text-black");

			if(lastMode && lastMode !== mode) {
				document.getElementById(lastMode).classList.remove("bg-green-400");
				document.getElementById(lastMode).classList.remove("text-black");
			}
			let elements = document.getElementsByClassName("page-link");

			for(let i = 0; i < elements.length; i++) {
				if(mode === 'optimized') {
					elements[i].setAttribute("href", "/" + elements[i].getAttribute("data-optimized") + ".html")
                    if(elements[i].getAttribute("data-optimized") !== elements[i].getAttribute("data-original")) {
                        elements[i].classList.remove("text-gray-300")
                        elements[i].classList.add("text-green-300")
                    }
				}
				if(mode === 'original') {
					elements[i].setAttribute("href", "/" + elements[i].getAttribute("data-original") + ".html")
                    elements[i].classList.remove("text-green-300")
                    elements[i].classList.add("text-gray-300")
				}
			}

			lastMode = mode;
			Cookies.set('mode', mode);
		}

        let centurion = false;
        function setCenturion(yn) {
            if(yn !== "yes") {
                document.getElementById("centurionNo").classList.add("bg-green-400");
                document.getElementById("centurionNo").classList.add("text-black");
                document.getElementById("centurionYes").classList.remove("bg-green-400");
                document.getElementById("centurionYes").classList.remove("text-black");
            } else {
                document.getElementById("centurionYes").classList.add("bg-green-400");
                document.getElementById("centurionYes").classList.add("text-black");
                document.getElementById("centurionNo").classList.remove("bg-green-400");
                document.getElementById("centurionNo").classList.remove("text-black");
            }

            let elements = document.getElementsByClassName("module");

            for(let i = 0; i < elements.length; i++) {
                if(yn === "yes") {
                    if(elements[i].getAttribute("data-centurion") === "false") {
                        elements[i].style = "display: none !important";
                    }
                }
                else {
                    elements[i].style = "";
                }
            }
        }

		function loadCookie() {
			if(Cookies.get('name')) {
				setActiveUser(Cookies.get('name'));
			}
			if(Cookies.get('view')) {
				setView(Cookies.get('view'));
			}
			if(Cookies.get('mode')) {
				setManualPages(Cookies.get('mode'));
			}
		}
	</script>
</head>

<body class="bg-gray-800" onload="loadCookie()">
	<div class="w-11/12 flex mx-auto my-5 rounded-lg bg-gray-700 pl-5 py-5">
		<div class="flex-col flex-none">
			<img src="/img/logo.png" alt="Bootleg Repository of Manual Pages" class="h-40 mb-4">
			<div class="flex h-20">
				<p class="text-white self-end overflow-wrap w-80 flex-grow leading-snug">{{{phrase}}}</p>
			</div>
		</div>
		<div class="border-2 border-gray-800 mx-5"></div>
		<div class="flex flex-col w-full h-60 mr-2">
        {{#grouped_each 5 modules}}
			<div class="flex flex-row w-full flex-none mb-2">
				{{#each this}}
					<button onclick="setActiveUser('{{name}}');" class="hover:shadow-lg block px-3 w-30 text-black flex-1 py-1.5 font-bold mr-3 text-center rounded-md bg-gradient-to-r {{gradient}}">
						{{name}}
					</button>
				{{/each}}
			</div>
        {{/grouped_each}}
			<div class="flex flex-grow"></div>
			<div class="flex flex-row text-gray-400 flex-none">
				<div class="flex flex-col flex-1">
					<h2 class="font-bold">
						View Mode
					</h2>
					<button onclick="setView('orderly');" id="orderly" class="mt-2 py-1.5 bg-gray-800 rounded-md w-2/3">
						Orderly
					</button>
					<button onclick="setView('compact');" id="compact" class="mt-2 py-2 bg-gray-800 rounded-md w-2/3">
						Compact
					</button>
				</div>
				<div class="flex-col flex-1">
					<h2 class="font-bold">
						Manual Pages
					</h2>
					<button onclick="setManualPages('optimized');" id="optimized" class="mt-2 py-1.5 bg-gray-800 rounded-md w-2/3">
						Optimized
					</button>
					<button onclick="setManualPages('original');" id="original" class="mt-2 py-2 bg-gray-800 rounded-md w-2/3">
						Original
					</button>
				</div>
				<div class="flex-col flex-1">
                    <h2 class="font-bold">
                        Filter
                    </h2>
                    <button onclick="setCenturion('yes');" id="centurionYes" class="mt-2 py-1.5 bg-gray-800 rounded-md w-2/3">
                        Centurion Only
                    </button>
                    <button onclick="setCenturion('no');" id="centurionNo" class="mt-2 py-2 bg-gray-800 rounded-md w-2/3">
                        All
                    </button>
				</div>
			</div>
		</div>
	</div>
	{{#each modules}}
		<div class="hidden" id="{{name}}">
			<div class="w-11/12 mx-auto mx-5 my-2 rounded-lg bg-gradient-to-r px-5 py-2 {{gradient}} mt-5 grid grid-flow-col grid-cols-[1fr_auto] items-center">
				<h1 class="text-2xl font-semibold">{{name}}</h1>
                <p class="text-lg font-normal" id="shown-length">{{profiles.length}} modules</p>
			</div>
			<div class="w-11/12 mt-3 mx-auto rounded-lg bg-gray-700 p-5">
				<ul class="profile-list compact">
					{{#each profiles}}
						<li class="module" data-centurion="{{this.centurion}}">
							<div class="flex content-center items-center">
								<img class="icon mr-2" src="icons/{{this.iconName}}.png">
								<a href="/{{this.manualLink}}.html" data-optimized="{{this.manualLink}}" data-original="{{this.originalManualLink}}" class="page-link font-medium {{#if pageExists}}text-gray-300{{else}}text-red-500{{/if}}">{{this.moduleName}}</a>
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		</div>
	{{/each}}
</body>
</html>
