<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta property="og:title" content="Bootleg Repository of Manual Pages">
	<meta property="og:description" content="Repository of Manual Pages for KTANE, but worse in every way.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://ktane.stinggy.com">
	<meta property="og:site_name" content="Sting's Personal Stuff">

	<link rel="stylesheet" href="/css/normalize.css">

	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>

	<style>
		body {
			max-width: 66em;
			font-family: 'Trebuchet MS', sans-serif;
			margin: 0 auto;
			font-size: 13pt;
			display: block;

			background-color: rgb(50, 50, 50);
			color: rgb(150, 150, 150);
		}

		#logo {
			flex: 1;
		}
		#logo img {
			max-width: 33em;
		}
		#title-card {
			display: flex;
			flex-direction: column;
			flex: 1;
		}

		#flavor-text {
			height: 40%;
		}
		#menu {
			flex-grow: 1;
			font-size: 18px;
		}

		.page-top {
			padding-top: 1em;
			display: flex;
			flex-direction: row;

			max-width: 66em;
		}
		.page-bottom {
			width: 100%;
		}
		.page-content {
			min-height: 100vh;
			padding: 0 .7em 0;
		}
		.active-user {
			background-color: #4CAF50 !important;
		}
		#menu-container button {
			border: none;
			text-align: center;
			text-decoration: none;
			font-size: 24px;
			display: inline-block;
			font-family: 'Trebuchet MS', sans-serif;
			padding-top: 7px;
			padding-bottom: 7px;
			flex: 1;
			background-color: #ffffff;
			outline: none;
		}
		#views button {
			border: none;
			text-align: center;
			text-decoration: none;
			font-size: 18px;
			display: inline-block;
			font-family: 'Trebuchet MS', sans-serif;
			padding-top: 7px;
			padding-bottom: 7px;
			flex: 1;
			background-color: #ffffff;
			outline: none;
		}
		#menu p {
			padding: 0;
			margin: 0;
		}
		#views {
			display: flex;
			width: 100%;
		}
		#menu-container button:hover {
			background-color: #bbbbbb;
		}
		#menu-container {
			display: flex;
			width: 100%;
			background-color: #ffffff;
		}
		#menu-container .divider {
			margin-top: 5px;
			margin-bottom: 5px;
			border-left: 1px solid #cccccc;
		}
		#manual-list {
			margin: 0;
			padding-bottom: 10em;
		}
		#manual-list ul {
			padding: 0;
			margin: 0;
			height: 40px;
			display: inline-block;
			column-count: 3;
		}
		#manual-list li {
			list-style-type: none;
			padding: 0;
			margin: 0;
			display: grid;
			columns: 3;
			float: left;
			width: 33%;
		}
		.manual-link {
			height: 100%;
			justify-content: center;
			align-items: center;
			margin-left: 10px;
			margin-right: 5px;
			display: flex;
		}
		a {
			color: rgb(150, 150, 150);
		}
		.module-cell {
			height: 40px;
			display: flex;
			align-content: center;
		}
		.module-icon {
			margin-top: 4px;
			margin-bottom: 4px;
			margin-left: 5px;
			display: inline-block;
		}
		.footer {
			font-size: 12px;
			text-align: center;
			width: 100%;

		}
	</style>
	<script>
		let lastName = undefined;
		function setActivePerson(name) {
			if(lastName !== undefined) {
				document.getElementById(lastName).classList.remove('active-user');
			}
			document.getElementById(name).classList.add('active-user');
			lastName = name;
			if(name === 'sting') {
				document.getElementById("manual-list").innerHTML = `{{#with modules}}
						{{#each sting}}
						<li>
						<div class="module-cell">
							<div class="module-icon">
								<img src="icons/{{this.iconName}}.png"></div><div class="manual-link">
							<a href="/{{this.manualLink}}.html">{{this.moduleName}}</a></div></div></li>
						{{/each}}
					{{/with}}`
			} else if (name === 'yoshi') {
				document.getElementById("manual-list").innerHTML = `{{#with modules}}
					{{#each yoshi}}
						<li>
						<div class="module-cell">
							<div class="module-icon">
								<img src="icons/{{this.iconName}}.png"></div><div class="manual-link">
							<a href="/{{this.manualLink}}.html">{{this.moduleName}}</a></div></div></li>
						{{/each}}
				{{/with}}`
			} else if (name === 'emma') {
				document.getElementById("manual-list").innerHTML = `{{#with modules}}
					{{#each emma}}
						<li>
						<div class="module-cell">
							<div class="module-icon">
								<img src="icons/{{this.iconName}}.png"></div><div class="manual-link">
							<a href="/{{this.manualLink}}.html">{{this.moduleName}}</a></div></div></li>
						{{/each}}
				{{/with}}`
			} else if (name === 'ps') {
				document.getElementById("manual-list").innerHTML = `{{#with modules}}
					{{#each ps}}
						<li>
						<div class="module-cell">
							<div class="module-icon">
								<img src="icons/{{this.iconName}}.png"></div><div class="manual-link">
							<a href="/{{this.manualLink}}.html">{{this.moduleName}}</a></div></div></li>
						{{/each}}
				{{/with}}`
			} else if (name === 'vanillas') {
				document.getElementById("manual-list").innerHTML = `{{#with modules}}
					{{#each vanillas}}
						<li>
						<div class="module-cell">
							<div class="module-icon">
								<img src="icons/{{this.iconName}}.png"></div><div class="manual-link">
							<a href="/{{this.manualLink}}.html">{{this.moduleName}}</a></div></div></li>
						{{/each}}
				{{/with}}`
			}

			if(lastView) {
				setView(lastView);
			}

			Cookies.set('name', name);
		}

		function loadCookie() {
			if(Cookies.get('name')) {
				setActivePerson(Cookies.get('name'));
			}
			let view = Cookies.get('view');
			if(view) {
				console.log(view);
				setView(Cookies.get('view'));
			}
		}

		let lastView = undefined;
		function setView(view) {
			if(lastView !== undefined) {
				document.getElementById(lastView).classList.remove('active-user');
			}
			document.getElementById(view).classList.add('active-user');
			lastView = view;
			if(view === 'compact') {
				let listItems = document.getElementById('manual-list').getElementsByTagName('li');
				for(let i = 0; i < listItems.length; i++){
					listItems[i].style.width = 'auto';
					listItems[i].style.border = '1px solid rgb(150, 150, 150)';
				}
			} else if (view === 'orderly') {
				let listItems = document.getElementById('manual-list').getElementsByTagName('li');
				for(let i = 0; i < listItems.length; i++){
					listItems[i].style.width = '33%';
					listItems[i].style.border = 'none';
				}
			}
			Cookies.set('view', view);
		}
	</script>
	<title>Bootleg Repository of Manual Pages</title>
</head>

<body onload="loadCookie()">
	<div class="page-content">
	<div class="page-top">
		<div id="logo">
			<img src="img/logo.png" alt="Bootleg Repository of Manual Pages">
		</div>
		<div id="title-card">
			<div id="flavor-text">
				<p><i>{{{phrase}}}</i></p>
			</div>
			<div id="menu">
				<div id="menu-container">
					<button id="sting" onclick="setActivePerson('sting')">Sting</button>
					<div class="divider"></div>
					<button id="yoshi" onclick="setActivePerson('yoshi')">Yoshi</button>
					<div class="divider"></div>
					<button id="emma" onclick="setActivePerson('emma')">Emma</button>
					<div class="divider"></div>
					<button id="ps" onclick="setActivePerson('ps')">PS</button>
					<div class="divider"></div>
					<button id="vanillas" onclick="setActivePerson('vanillas')">Vanillas</button>
				</div>
				<br>
				<p style="text-align: center;">View</p>
				<div id="views">
					<button id="orderly" onclick="setView('orderly')">Orderly</button>
					<button id="compact" onclick="setView('compact')">Compact</button>
				</div>
			</div>
		</div>
	</div>
	<div class="page-bottom">
		<ul id="manual-list">
			<h3>Select a person or profile.</h3>
		</ul>
	</div>
	</div>
</body>
